* {
    margin: 0;

}

body {
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
    margin: 50px 100px 0px 140px;
}

/* New year banner celebration section style*/
.banner {
    background-image: url('../images/Banner\ Image.png');
    background-repeat: no-repeat;
    border-radius: 16px;
    height: 550px;
    width: 1250px;
    border-radius: 15px;
}

section .banner-title {
    color: #FFF;
    text-align: center;
    font-size: 30px;
    padding-top: 180px;
    font-weight: 400;
}

section .banner-content {
    color: #FFFFFF;
    text-align: center;
    font-size: 50px;
    margin-bottom: 200px;
}

#span-id {
    display: flex;
    align-items: center;
    margin-left: 33%;
    margin-top: 10px;
}

/* 65% off section style */

.section-container {
    margin: 100px 200px;
    text-align: center;
}

.container-text h1 {
    color: #F00;
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}

.container-content p {
    color: #F00;
    text-align: center;
    font-size: 15px;
    padding: 5px;
    margin-bottom: 8px;
}

.container-title h2 {
    color: #070211;
    text-align: center;
    font-size: 25px;
}

.section-container img {
    height: 300px;
    width: 600px;
    margin-top: 30px;

}

/* midnight section style */
.midnight-container {
    display: flex;
    align-items: center;
    background-image: url('../images/Vectorrr.png');
    background-repeat: no-repeat;
    border-radius: 16px;
}

.midnight-title h1 {
    color: #FFF;
    font-size: 60px;
    margin-left: 100px;
    margin-top: 80px;
}

.midnight-title .span-content {
    color: #FFF;
    font-size: 60px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.midnight-title .midnight-content {
    color: #FFFFFFCC;
    font-size: 18px;
    margin: 5px 100px 50px 100px;
    font-weight: bold;
}

.midnight-title #join {
    color: #FFFFFF;
    font-size: 15px;
    padding-left: 130px;
    margin-top: 50px;
}

.image-content {
    padding: 90px;

}

/* Address section style */
.address-info {
    background-color:azure;
    padding: 100px;
    margin-top: 40px;
    border-radius: 10px;
}

.address .address-title {
    color: #070211;
    font-size: 30px;
    text-align: center;
}

.address-details{
    color: #F00;
}

.address .join {
    color: #FFF;
    font-size: 20px;
    text-align: center;
    border-radius: 7px;
    background: #F00;
    border: 0;
    padding: 10px;
    margin: 50px 470px;

}